<!-- Header -->
	<header id="header">
		<h1><a href="/index.html">Adventures in Learning to Code </a></h1>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>
<!-- Navigation -->
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/blog/index.html">Blog</a></li>
            <li><a href="/education.html">Education</a></li>
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>

